psycopg2-binary
python-dotenv
pandas
numpy
pdfplumber
# pypdf
# pillow
# pytesseract
# plotly
python-dateutil
unidecode
# python-Levenshtein
# fuzzywuzzy
# spacy 
# transformers 
# torch
# openrouter
# watchdog
matplotlib
statsmodels
pyyaml